{#
SPDX-License-Identifier: GPL-3.0-or-later
SPDX-FileCopyrightText: 2023 igo95862
-#}
bubblejail.services(5)

# NAME

bubblejail.services - bubblejail instance service configuration.

# SYNOPSIS

_services.toml_

# DESCRIPTION

Bubblejail service is configuration is defined in the "services.toml"
file located at _~/.local/share/bubblejail/instances/<instance_name>/services.toml_

"services.toml" is a TOML formatted file.*[1]* Declaring a table will activate
the service and key/values declared in the table will pass the settings to the
service.

For example:

```
{{ "[home_share]
home_paths = [\"Downloads\"]" | scdoc_indent }}
```

Will activate _home_share_ service and share the _Downloads_
folder from home directory with the sandbox.

# AVAILABLE SERVICES

{% for service in services %}
## {{ service.name }}

{{ service.pretty_name | markdown_escape }}

{{ service.description | markdown_escape }}

{% if service.has_settings() %}*Options:*
{% endif %}
{% for setting_field in service.iter_settings_fields() %}
_{{ setting_field.name | markdown_escape }}_: {{ setting_field.type }}

{% if ServiceFlags.DEPRECATED in setting_field.metadata.get("flags", ServiceFlags(0)) %}
{{- "*Deprecated*" | scdoc_indent }}
{%- endif %}

{{ setting_field.metadata['description'] | markdown_escape | scdoc_indent }}

{% endfor %}
{% endfor %}

# SEE ALSO

*bubblejail*(1)

# NOTES

. TOML configuration file format.
  https://toml.io/
