{#
SPDX-License-Identifier: GPL-3.0-or-later
SPDX-FileCopyrightText: 2024 igo95862
#}
{% extends 'bubblejail_launch_base.py.jinja' %}
{% block launch_commands %}
from bubblejail.bubblejail_gui_qt import run_gui

run_gui()
{% endblock %}
