{% include "python_shebang.jinja2" %}
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2024 igo95862
{% include "setup_python_path.py.jinja2" %}

if __name__ == "__main__":
{% include "setup_bubblejail_settings.py.jinja2" %}

    from bubblejail.bubblejail_gui_qt import run_gui

    run_gui()
