    from bubblejail.bubblejail_utils import BubblejailSettings

    BubblejailSettings.HELPER_PATH_STR = "{{ LIB_PREFIX }}/bubblejail/bubblejail-helper"
    BubblejailSettings.SHARE_PATH_STR = "{{ SHARE_PREFIX }}"
    BubblejailSettings.SYSCONF_PATH_STR = "{{ SYSCONF_DIR }}"
    BubblejailSettings.VERSION = "{{ BUBBLEJAIL_VERSION }}"
